.content {
  white-space: pre-line;
}

.item {
  background-color: rgb(0, 0, 0);
  margin-bottom: 0.4rem;
  padding: 0.6rem 1.1rem;
  color: white;
  .title {
    display: flex;
    justify-content: space-between;
  }
}
