.menu {
    text-align: center; 
    padding: 3.2vh 0; 
    .menu-list {
        list-style-type: none; 
        padding: 0; 
    }
    
    .menu-list li {
        display: inline; 
        margin: 0 1vw; 
        font-family: MontserratM;
    }
    
}

