.footer {
  margin-top: 2.5rem;
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 1rem;
  font-family: MontserratR;
  font-size: 0.9rem;
  border-top: 1px solid #ccc;
  width: 100%;

  .footer__content a {
    color: #0366d6;
    text-decoration: none;
  }

  .footer__content a:hover {
    text-decoration: underline;
  }
}
