*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: MontserratM;
  src: url("./components/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MontserratR;
  src: url("./components/fonts/Montserrat-Regular.ttf");
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;

  .logo {
    width: auto;
    flex-shrink: 0;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      flex-direction: column;
      gap: 1.2vh;
    }

    img {
      width: 10vw !important;
      height: auto;
      display: block;
    }

    .logo__title {
      display: block;
      width: auto;
      margin-left: 10px;
      font-weight: 900;
      font-family: MontserratR;
      font-size: 0.8vw;
      line-height: 1.2;
      color: black;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    height: 10.2vh;

    .menu__hover {
      position: relative;
      color: black;
      text-decoration: none;
      margin: 0;
      font-size: 1.2vw;
    }

    .menu__hover::after,
    .menu__hover::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 0%;
      height: 2px;
      background-color: black;
      transition: all 400ms ease-in-out;
    }

    .menu__hover::after {
      top: 0;
    }

    .menu__hover::before {
      bottom: 0;
    }

    .menu__hover:hover::before,
    .menu__hover:hover::after {
      width: 100%;
      left: 0;
    }
  }
}
