// Секция для корректировки тэгов
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

span {
  font-size: 1.33rem;
  font-family: MontserratR;
  line-height: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  line-height: 2vw;
  font-family: MontserratR;
}

/////////////// Слайдер /////////////////

.slider {
  width: 100%;
  height: 60vh;
  margin: 2.2vh auto 8vh;
  position: relative;
  display: block;

  .video_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    gap: 2rem;
  }
}

.slider:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 7, 100, 0.5);
  z-index: 2;
  opacity: 0.4;
}

////////////////////////////////////////////

//

.sertification {
  display: flex;
  justify-content: center;
  align-items: center;

  .sertification__title {
    border: 0.3rem solid black;
    border-radius: 3rem;
    padding: 1.2rem;
    font-size: 2rem;
    font-family: MontserratM;
  }

  .sertification__title:hover {
    background-color: black;
    color: rgb(233, 233, 233);
    transition: 250ms linear 90ms;
  }
}

.main_applications {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.5rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;

  .main_applications_item {
    border-radius: 1.7rem;
    background-color: rgb(2, 66, 161);
    width: 18vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(238, 238, 238);
    gap: 3.3rem;
    transition: 250ms linear 90ms;

    img {
      width: 6vw;
      transition: 250ms linear 90ms;
    }
  }

  .main_applications_item:hover {
    width: 20vw;
    height: 42vh;
    transition: 250ms linear 90ms;

    img {
      width: 8vw;
      transition: 250ms linear 90ms;
    }
  }

  span {
    margin: 0.6rem 3rem 0;
    border: 0.15rem solid rgb(238, 238, 238);
    padding: 0.8rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: MontserratR;
  }

  span:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(2, 66, 161);
    transition: 250ms linear 90ms;
    cursor: pointer;
  }
}

//СТРАНИЦА "О Сертификации"

.sertification_title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  margin-bottom: 3vh;
  align-items: center;
}

.sertification_list {
  justify-content: center;
  text-decoration: none;
  list-style: none;
  display: grid;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 6vh;
}

// Страница о Аккредитации

.accredititaon__title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;

  a {
    border-bottom: 0.2rem dashed black;
  }

  a:hover {
    color: rgb(25, 0, 255);
    border-bottom: 0.2rem dashed rgb(25, 0, 255);
  }
}

.accredititaon__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
}
